[2020-05-13 09:25] anubhavsingh16 opened #1 "Enable Contact section"
# Description:
The contact section is not working, Enable contact section and use organisation email.

# Requirement:
- Open PR with proper description.

[2020-05-13 09:32] anubhavsingh16 opened #2 "Make heading more highlighted"
# Description:
Heading of the month name, open-source and hackathons are quite dull make them more highlighted.

## Tips:
- Use Animation CSS.
- Take help from this https://tympanus.net

[2020-05-13 17:53] aryamanpuri opened #3 "Techstack"
Techstack of the website is upon discussion.
@aashimgarg @anubhavsingh16

[2020-05-13 17:56] aashimgarg commented on #3
I think logo is yet to be decided first.

[2020-05-13 17:59] aryamanpuri commented on #3
Ur views regarding tech stack

[2020-05-13 18:29] aashimgarg commented on #3
[image: orgLogo.png]

On Wed, May 13, 2020 at 11:29 PM Aryaman Puri <notifications@github.com>
wrote:

[2020-05-14 05:52] codetheorem commented on #1
Pull request for this issue made please review it ASAP.
Thank You.

[2020-05-14 12:23] #1 closed

[2020-05-14 12:26] aashimgarg opened #9 "Add a readme file"

[2020-05-14 12:51] vinayaksh42 opened #10 "horizontal scrolling"
![chrome_aAqscBwcjv](https://user-images.githubusercontent.com/54861487/81936309-ad09d500-960f-11ea-9b7b-5fc455a2540f.png)
horizontal scrolling.

[2020-05-14 13:01] vinayaksh42 commented on #10
![chrome_ceVHBM8HrY](https://user-images.githubusercontent.com/54861487/81937251-07576580-9611-11ea-8d67-04dc959b707f.png)
it is probably happening because of this

[2020-05-14 13:21] vinayaksh42 commented on #10
![chrome_b1BAFXixcg](https://user-images.githubusercontent.com/54861487/81939330-d462a100-9613-11ea-8217-2747795541ed.png)
horizontal scrolling issue resolved by hidding the overflow content of x axis

[2020-05-14 14:54] #10 closed

[2020-05-14 19:10] aashimgarg commented on #3
HTML , CSS , VanillaJS finalised.

[2020-05-14 19:32] codetheorem opened #15 "Deploy it on github pages"

[2020-05-14 20:42] garimasingh128 opened #16 "Add hrefs to the respective websites of open source events and hackathons."

[2020-05-14 20:42] garimasingh128 opened #17 "Improve styling of the form and the footer."

[2020-05-15 04:52] aryamanpuri commented on #17
Hi @garimasingh128 . Thanks for opening issue. What kind of styling issue are you facing in the form and Footer?

[2020-05-15 08:34] aashimgarg opened #18 "add a google font."

[2020-05-15 08:36] aashimgarg opened #19 "Make content responsive for (Mobile view)"
## Description:
Make `Home Page` content responsive for (Mobile view).

[2020-05-15 08:37] aashimgarg opened #20 "add placeholder animation in the Contact form."
https://girlscriptboilerplate.netlify.app/contactus

refer this

[2020-05-15 08:54] codetheorem commented on #18
I would like to work on this issue.

[2020-05-15 09:29] codetheorem commented on #18
Pr made please review .

[2020-05-15 09:44] anubhavsingh16 commented on #9
Done

[2020-05-15 09:44] #9 closed

[2020-05-15 09:48] anubhavsingh16 opened #22 "Add images in Readme"
# Description:
Add 2 relevant screenshot of the webpage which describe the whole topic.

## Hint:
Try to cover maximum topics.

[2020-05-15 10:18] arteevraina opened #23 "Use intuitive file names"
Cascading file names are less intuitive. Make sure if you update them do update them in path where they are used.

[2020-05-15 10:39] vinayaksh42 commented on #22
adding screenshots

[2020-05-15 10:55] Amankumar29 opened #26 "create a new page for contact and removing it from main frontend page."
**create a new page for contact and remove it from main front-end page.**

1. for the new page make the background more attractive.
2. place the part in the middle of the page.
3. let the navbar be present as same as in the main page.
4. same with the footer.

[2020-05-15 11:10] codetheorem commented on #20
Pull request added please review it.

[2020-05-15 11:11] Amankumar29 commented on #26
@codetheorem @vinayaksh42 both of you can do this work.  :)

[2020-05-15 11:14] Amankumar29 opened #27 "changing the calendar section."
change the calendar section and make it for a month each and change the background of that part.
i think @arteevraina you should give it a shot.

[2020-05-15 11:21] garimasingh128 commented on #17
I was just thinking if we could add a colour scheme to whole website as now it looks quite random. We could also add a detailed footer and a form that follows the design.

[2020-05-15 11:26] arteevraina commented on #27
@Amankumar29 So for each transition we want only one month?

[2020-05-15 11:40] Amankumar29 commented on #27
yes and having button on both sides for next and previous months.

[2020-05-15 11:42] nolimits-sagar opened #28 "One day to contribute to Opensource"
Hack-commit-push (https://paris2020.hack-commit-pu.sh/ ) is a one day conference held in June 27 2020 to contribute to openSource. Kindly add it to the list of OpenSource events.

[2020-05-15 13:20] vinayaksh42 commented on #26
Sure sir @Amankumar29

[2020-05-15 14:00] #27 closed

[2020-05-15 14:35] aryamanpuri commented on #28
@nolimits-sagar Thanks for your contribution.
I will surely add this conference to the website.
Meanwhile you can take up other issues  and start your contribution.

[2020-05-15 14:38] aryamanpuri commented on #16
We are planning to do that.
Would you like to take up this issue!

[2020-05-15 14:44] aryamanpuri commented on #17
Yes, ur right.
There is no color scheme decided yet and the footer just consists of icons.
I am assigning this issue to you and would like to see your creativity.
And join the [discord server]( https://discord.gg/dHtDhHa).

[2020-05-15 15:34] garimasingh128 commented on #16
Ya I would like to take this.

[2020-05-15 15:35] garimasingh128 commented on #16
Ya I would like to take this.

[2020-05-15 15:36] garimasingh128 commented on #16
Ya I would like to take this.

[2020-05-15 15:37] garimasingh128 commented on #16
Ya I would like to take this.

[2020-05-15 17:19] Amankumar29 opened #33 "add content in footer."
1.add logo
2.add the elements of navbar
3.add different social sites icon.
@codetheorem or @vinayaksh42 you can distribute this work among yourself. :)

[2020-05-15 18:11] anubhavsingh16 commented on #22
Thank You @vinayaksh42 for a valuable contribution.

[2020-05-15 18:11] #22 closed

[2020-05-15 19:18] JyotiJauhari commented on #15
@codetheorem can you explain me in detail what exactly i need to do in this issue..??
I know how to host website in github.

[2020-05-15 22:05] aashimgarg commented on #20
@codetheorem its not there!

[2020-05-16 01:16] codetheorem commented on #20
We are making new contact page so it will be added in that.

[2020-05-16 01:26] #15 closed

[2020-05-16 10:42] Amankumar29 opened #37 "add logo in navbar."

[2020-05-16 16:44] anubhavsingh16 commented on #33
Completed

[2020-05-16 16:44] #33 closed

[2020-05-16 18:25] aashimgarg opened #38 "Aligning the position"
## Description
1. adjust the position for the bottom to up button to the right side of the page.
2. give space between the social media links.
3. shift the position of the newsletter to the right side

[2020-05-16 21:52] arteevraina opened #39 "Add steps for updating local branch-"
## Description
Add git commands for updating local branch in readme.

## Mocks
[code]

[2020-05-16 22:24] #2 closed

[2020-05-16 22:25] #3 closed

[2020-05-16 22:25] #16 closed

[2020-05-16 22:26] #18 closed

[2020-05-16 22:26] #20 closed

[2020-05-17 07:36] #39 closed

[2020-05-17 17:18] anubhavsingh16 opened #41 "About Us page"
## Description
Add About us page and write all the necessary things about  Catalyst organization. Keep it simple like in `Mock`.

## Mocks
![about us](https://user-images.githubusercontent.com/47811606/82155133-43e4c480-9890-11ea-9d64-baca093676ec.png)
## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-17 17:21] anubhavsingh16 opened #42 "Contact Us connection"
## Description
Connect Contact us button with the footer.

## Acceptance Criteria
### Update [Required]
- [x] [Connect Contact us button with the footer]
- [x] [Remove fb and instagram icon from footer and add linkdin]
- [x] [Connect icon with thier links]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-17 17:52] anubhavsingh16 opened #43 "Rename Document"
## Description
Rename Document to `Our Team` and add members of Catalyst.
take style reference from https://smvduclub.github.io/main_page/
## Mocks
![team](https://user-images.githubusercontent.com/47811606/82155670-3e897900-9894-11ea-8c63-1225bd056dfb.png)

## Acceptance Criteria
### Update [Required]
- [x] [add members of Catalyst]
- [x] [connect with Our team button]

## Definition of Done
- [x

[2020-05-17 18:17] Bindusar1212 commented on #41
Can i do this one?

[2020-05-17 18:44] anubhavsingh16 commented on #41
okk

[2020-05-17 18:45] #38 closed

[2020-05-17 18:49] aashimgarg opened #46 "the months section."

[2020-05-18 07:26] vinayaksh42 opened #47 "Nav bar Styling"
## Description
I need to style the nav bar,
so that I can a better color scheme and hover effect over elements.

## Mocks

![](https://cdn.discordapp.com/attachments/710041247821201508/711297192266039297/mspaint_xNSjNmonkG.png)

## Acceptance Criteria
### Update [Required]
- [x] changes to the nav bar

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-18 09:10] #47 closed

[2020-05-18 14:16] aashimgarg opened #50 "make footer and navbar dynamic."

[2020-05-18 16:03] #26 closed

[2020-05-18 16:09] #42 closed

[2020-05-18 16:10] #37 closed

[2020-05-18 20:59] aashimgarg opened #52 "add the prettier file."

[2020-05-18 21:51] aryamanpuri opened #53 "Code Cleanup"

[2020-05-18 21:54] aashimgarg commented on #50
related to #53

[2020-05-19 10:36] anubhavsingh16 opened #54 "Add MIT License"
## Description
Add MIT license file and mention in Readme.md

## Acceptance Criteria
### Update [Required]
- [x] [Add license file]
- [x] [Update Readme.md]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-19 17:03] #54 closed

[2020-05-19 19:11] anubhavsingh16 commented on #52
@aashimgarg please follow the issue template. Add something in Description.

[2020-05-19 22:35] #46 closed

[2020-05-20 02:20] Amankumar29 commented on #43
i will take this up

[2020-05-20 02:29] Amankumar29 commented on #43
do we have to make different page or include it in the same?

[2020-05-20 08:53] deepdarshan21 commented on #41
can I work on it

[2020-05-20 10:45] Bindusar1212 commented on #41
@anubhavsingh16  @aashimgarg
![Screenshot 2020-05-20 at 4 12 50 PM](https://user-images.githubusercontent.com/59837391/82437471-12990e00-9ab5-11ea-8e15-69537781d051.png)
![Screenshot 2020-05-20 at 3 43 22 PM](https://user-images.githubusercontent.com/59837391/82437478-14fb6800-9ab5-11ea-9112-0e6369925f7e.png)

[2020-05-20 11:00] #41 closed

[2020-05-20 11:17] anubhavsingh16 commented on #41
sorry @deepdarshan21 this issue just solved you can pick any other issue for issue list.
Thank You.

[2020-05-20 17:16] HeroicHitesh opened #58 "Add website url"
## Description
As a user/visitor/contributor,
I need to add the website link to the repo,
so that I can it can be easily accessible for someone who wants to see the end result not the codebase, and also, for those who want to contribute by looking into the project.
## Acceptance Criteria
### Update [Required]
- [ ] Website link visible on the Github repo.
## Definition of Done
- [ ] All of the req

[2020-05-20 17:17] HeroicHitesh commented on #58
I would like to resolve this issue please comment your website URL here.

[2020-05-20 17:22] aryamanpuri commented on #58
Thank you for opening this issue.
we have discussed to deploy it on netlfiy and would be deployed by tomorrow.
Anything you want to add in

[2020-05-20 18:38] anubhavsingh16 commented on #43
Read issue description carefully 😉

[2020-05-20 18:47] HeroicHitesh commented on #58
Nice. Just one thing mention the URL here after the deployment is done so that I can add it to the description.

[2020-05-20 18:50] aryamanpuri commented on #58
okay, no problem.
I will add the link

[2020-05-21 13:34] HeroicHitesh commented on #58
@aryamanpuri Any updates on deployment? If not yet deployed and you are busy can I help with the deployment part?

[2020-05-21 15:06] aashimgarg commented on #53
@aryamanpuri any updtaes?

[2020-05-21 18:18] #43 closed

[2020-05-21 18:19] #50 closed

[2020-05-21 18:19] #52 closed

[2020-05-21 18:20] #23 closed

[2020-05-21 18:20] #17 closed

[2020-05-21 18:31] anubhavsingh16 opened #60 "Adjust logo and contact us section below"
## Description:
Logo and Contact section(join our newsletter) of footer adjust at the bottom at the same hight of the GitHub button. `And make hight of footer smaller.`

## Mocks
![issue](https://user-images.githubusercontent.com/47811606/82592416-7f4bff80-9bbe-11ea-835d-d97ee777d6c3.png)

## Acceptance Criteria
### Update [Required]
- [x] [move logo bottom]
- [x] [move join our newsletter bottom]

[2020-05-21 18:34] anubhavsingh16 opened #61 "Add navbar in Team page"
## Description
The team page is not cleaned add navbar and proper indentation at top and bottom for quality look.

## Acceptance Criteria
### Update [Required]
- [x] [Add navbar]
- [x] [Add padding at top and bottom]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-21 18:58] anubhavsingh16 opened #62 "Add scroll button"
## Description
Add the scroll button in `month section` in the left and right side. And make them highlighted.

## Acceptance Criteria
### Update [Required]
- [x] [Add scroll button in both side and make them highlighted]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-22 02:10] HeroicHitesh opened #63 "Update README.md"
## Description
As a user/contributor,
I need to start contributing to the project and for that we need to make relevant changes in README.md, which currently sets remote to `https://github.com/anitab-org/powerup-iOS.git` which is an archived repo, please tell if this is the correct URL or do we need to set remote to `https://github.com/OpenSourceEvents-Frontend.git`
so that I can update it accordi

[2020-05-22 02:13] HeroicHitesh commented on #63
@anubhavsingh16 @aryamanpuri Please tell if update is needed so that I can proceed with other issues.

[2020-05-22 06:56] Sapna2001 commented on #61
Can I work on this?

[2020-05-22 09:14] anubhavsingh16 commented on #61
Ok do it @Sapna2001

[2020-05-22 11:52] Amankumar29 opened #67 "Add your details in the team section."
all the contributors you can add your details in the team section.

[2020-05-22 12:01] #61 closed

[2020-05-22 12:13] codetheorem opened #68 "content on team page"
Content on team page is not aligned properly.

[2020-05-22 12:59] anubhavsingh16 commented on #67
Anubhav Singh
- Github link - `https://github.com/anubhavsingh16`
- Linkdin- `https://www.linkedin.com/in/anubhav-singh-27512a167/`

Aryaman Puri
- Github link - `https://github.com/aryamanpuri`
- Linkdin- `https://www.linkedin.com/in/aryamanpuri/`

Aashim Garg
- Github link - `https://github.com/aashimgarg`
- Linkdin- `https://www.linkedin.com/in/aashim-garg-370104198/`

[2020-05-22 13:02] anubhavsingh16 commented on #63
Copy URL from the repo.

[2020-05-22 13:05] anubhavsingh16 commented on #60
@vinayaksh42 can you solve this

[2020-05-22 13:33] Amankumar29 commented on #67
@anubhavsingh16 can you add your photo in the assets file. :)

[2020-05-22 13:35] vinayaksh42 commented on #60
![82592416-7f4bff80-9bbe-11ea-835d-d97ee777d6c3](https://user-images.githubusercontent.com/54861487/82673264-2f714500-9c5f-11ea-8fd5-5396bbbbea75.png)
sir do you want it like this?

[2020-05-22 13:36] anubhavsingh16 commented on #60
yes @vinayaksh42

[2020-05-22 14:06] vinayaksh42 commented on #60
![chrome_p6tpuH1l6m](https://user-images.githubusercontent.com/54861487/82676072-68abb400-9c63-11ea-8d27-60e4c97ffced.png)

[2020-05-22 14:31] HeroicHitesh commented on #63
Resolved in PR #70

[2020-05-22 14:31] #63 closed

[2020-05-22 14:37] HeroicHitesh commented on #58
Issue resolved in commit 6ddfc39e91014a360331e407f44460c933df58c2

[2020-05-22 14:37] #58 closed

[2020-05-22 14:39] aryamanpuri commented on #58
Thanks for your contribution.
You can also contribute to https://github.com/Catalyst-CSE/Catalyst

[2020-05-22 14:41] Sapna2001 opened #71 "Team Page Navbar"
## Description
Navbar background can be made grey.

## Acceptance Criteria
### Update [Required]
- [ ] [Navbar color changed]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-05-22 15:30] #60 closed

[2020-05-22 15:46] HeroicHitesh commented on #67
@Amankumar29 have a look at PR #73

[2020-05-22 15:51] anubhavsingh16 opened #74 "Links navbar buttons"
## Description
Link navbar buttons with respected pages.

## Acceptance Criteria
### Update [Required]
- [x] [Link all buttons of navbar with respected pages]
- [x] [Month button is not connected with month section]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-22 17:04] #67 closed

[2020-05-22 18:38] Sapna2001 opened #77 "Team option in about page"
## Description
The about page doesn't have a team option in its navbar.

![Annotation 2020-05-23 000515](https://user-images.githubusercontent.com/56690856/82698995-73793f80-9c89-11ea-98dd-40d736d1778a.png)

## Acceptance Criteria
### Update [Required]
- [ ] [team option to be added]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-05-22 18:40] aryamanpuri commented on #53
Not yet @aashimgarg

[2020-05-22 20:08] #71 closed

[2020-05-22 20:09] #68 closed

[2020-05-23 05:13] naveenk97 commented on #62
Can I do it. I am a beginner in this

[2020-05-23 05:39] Sapna2001 opened #79 "Team page heading"
## Description
Our Team not clear

## Mocks
![issue](https://user-images.githubusercontent.com/56690856/82722592-c08aff00-9ce5-11ea-9e00-b9d88c6202e3.png)

## Acceptance Criteria
### Update [Required]
- [ ] [Color changed to white]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-05-23 05:49] Sapna2001 opened #81 "Home Page"
## Description
The side image in homepage is overflowing and overriding the text.

## Mocks

![issue 2](https://user-images.githubusercontent.com/56690856/82722741-f5e41c80-9ce6-11ea-80db-7a26a1128a08.png)

## Definition of Done
- [ ] Approval by 1 mentor.

[2020-05-23 06:01] vinayaksh42 opened #82 "Adjustment of footer on about us page"
## Description
adjusting the footer on about us page in the same way it is on home page

## Mocks
![screencapture-opensourcefrontend-netlify-app-about-html-2020-05-23-11_31_14](https://user-images.githubusercontent.com/54861487/82722995-ed8ce100-9ce8-11ea-8357-d92416439a81.png)

## Acceptance Criteria
### Update [Required]
- [ ] should look same as home page

## Definition of Done
- [ ] All of the

[2020-05-23 06:01] vinayaksh42 commented on #82
i am going to do it

[2020-05-23 07:24] anubhavsingh16 commented on #62
Ok do it and please follow code style.

[2020-05-23 09:14] Amankumar29 commented on #81
check it in firefox,is it working fine? @Sapna2001

[2020-05-23 09:15] #79 closed

[2020-05-23 09:15] #82 closed

[2020-05-23 09:24] Sapna2001 commented on #81
In firefox the image overflows but the text can be seen.

![issue](https://user-images.githubusercontent.com/56690856/82726996-48cccc80-9d05-11ea-8260-5743d8b886c7.png)

[2020-05-23 10:11] #74 closed

[2020-05-23 10:12] Amankumar29 commented on #81
is this change working for all browsers?

[2020-05-23 10:29] Sapna2001 commented on #81
Yes, when the height is changed to 660px it is working on Firefox, chrome, explorer, and edge.

[2020-05-23 10:34] Amankumar29 commented on #81
okay

[2020-05-23 10:34] #81 closed

[2020-05-23 15:29] khan-rehan commented on #62
can i do this?

[2020-05-23 17:41] samaresh231 opened #87 "Contact us not working after going to team page"
**Description**
Contact us in the navbar is not linked to the footbar of the homepage.

[2020-05-23 19:10] Sapna2001 opened #88 "Month link not working in team and about page"
## Description
Month link is not working on team page and about page

## Definition of Done
- [ ] Approval by 1 mentor.

[2020-05-24 11:42] #88 closed

[2020-05-24 11:53] anubhavsingh16 commented on #62
@khan-rehan Yes, please.

[2020-05-24 12:35] anubhavsingh16 opened #90 "Alignment Team Page"
## Description
Align the name and position of team members at the centre. And move profile of the newly added team members at center.

## Acceptance Criteria
### Update [Required]
- [x] [Align all the contents at centre]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-24 13:02] anubhavsingh16 opened #91 "Fill colours in month section"
## Description
After adding the scroll button in the month column, try to fill decent colours in the month names.
And add link of the respective events in the boxes.

## Acceptance Criteria
### Update [Required]
- [x] [Add scroll button]
- [x] [Add colours in month name]
- [x] [Add events links]
## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-24 15:39] khan-rehan commented on #91
i will do this

[2020-05-24 17:05] anubhavsingh16 commented on #91
@khan-rehan first complete #62

[2020-05-24 17:08] anubhavsingh16 opened #92 "Update Readme"
## Description
Update Screenshot of website. Try to cover the important points.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-24 18:21] aashimgarg commented on #92
why to have a screenshot of the readme?

[2020-05-25 04:36] swarajpure commented on #90
Can I work on this?

[2020-05-25 09:59] aashimgarg opened #96 "feat: Validate Contact form!"
## Description
Now we can enter vague details and press enter and it works.

[2020-05-25 11:36] #91 closed

[2020-05-25 12:10] #62 closed

[2020-05-25 13:10] Amankumar29 opened #98 "changing the design of arrows."
## I think having only arrows will be fine.

![Screenshot (15)](https://user-images.githubusercontent.com/54955755/82815599-1a8eee80-9eb7-11ea-9322-741abb059f1b.png)

[2020-05-25 13:11] Amankumar29 commented on #98
your views? @anubhavsingh16

[2020-05-25 13:13] Amankumar29 commented on #87
@Sapna2001 can you work on this?

[2020-05-25 13:15] anubhavsingh16 commented on #98
I think current design is better 😊

[2020-05-25 14:34] #87 closed

[2020-05-25 14:42] aashimgarg commented on #98
what are your thoughts @anubhavsingh16 @Amankumar29

[2020-05-25 14:51] anubhavsingh16 commented on #98
I think its nice no need to change.

[2020-05-25 14:53] aashimgarg commented on #98
we can go for alignment

[2020-05-25 16:11] Amankumar29 commented on #98
We can just remove the circular outline @anubhavsingh16 @aashimgarg

[2020-05-25 16:19] Sapna2001 commented on #98
@anubhavsingh16 @aashimgarg @Amankumar29 should I remove the circular outline?

[2020-05-25 16:27] Amankumar29 commented on #98
Wait for @anubhavsingh16 comments.

[2020-05-25 16:44] Sapna2001 commented on #96
@aashimgarg in the form phone no and name validation is required, right?

[2020-05-25 16:52] anubhavsingh16 commented on #98
Yaar mujhe to aise he acha lg rha.

[2020-05-25 17:33] Amankumar29 commented on #98
To bas allignment sahi kar dete hai
@anubhavsingh16

[2020-05-25 17:50] Sapna2001 opened #100 "Contact form linked"
## Description
Contact form linked in homepage, about page and team page navbar

## Acceptance Criteria
### Update [Required]
- [ ] [Contact form linked]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-05-25 18:14] anubhavsingh16 commented on #98
Hmm @Amankumar29

[2020-05-25 18:15] anubhavsingh16 commented on #100
@Sapna2001 I cannot understand this issue?

[2020-05-25 18:17] anubhavsingh16 commented on #96
Not phone number only email and name.

[2020-05-25 18:17] Sapna2001 commented on #100
The contact form has been linked to the navbar as suggested by @aryamanpuri .

[2020-05-25 18:20] Sapna2001 commented on #96
Email is already validated.
![Annotation 2020-05-25 234924](https://user-images.githubusercontent.com/56690856/82835698-76bb3800-9ee2-11ea-923f-2a0539caac67.png)

[2020-05-25 18:24] #100 closed

[2020-05-26 02:59] Amankumar29 commented on #98
@Sapna2001 can you please solve the issue of alignment.

[2020-05-26 03:18] Amankumar29 opened #103 "bottom to top button"
it will be good to have an hiding bottom to top button means when we go down then it will appear and while at the top of the website it will disappear or we can just add it above the footer in the right side.

![Screenshot (16)](https://user-images.githubusercontent.com/54955755/82856972-3d5bea00-9f2d-11ea-96ce-b8adf1b43ff7.png)

[2020-05-26 03:18] Amankumar29 commented on #103
@anubhavsingh16

[2020-05-26 03:21] Amankumar29 opened #104 "team page allignment."
having different rows
1.admins
2.mentors
3.members
4.contributors
and make them in center.

[2020-05-26 03:22] Amankumar29 commented on #104
@anubhavsingh16

[2020-05-26 07:04] Sapna2001 commented on #98
@Amankumar29 did you mean that the scroll button should be fixed. As now it moves up and down while scrolling.

[2020-05-26 07:06] Amankumar29 commented on #98
No, just to make the arrow inside the circle little bit in center

[2020-05-26 07:46] ShauryaBhandari commented on #104
Hey, I came across this via gssoc. Can I work on this?

[2020-05-26 07:47] Sapna2001 commented on #98
@Amankumar29 please check if this is fine
![buttons](https://user-images.githubusercontent.com/56690856/82874111-1d3f2180-9f53-11ea-9b89-8daf17629673.png)

[2020-05-26 08:06] anubhavsingh16 commented on #104
Yes @ShauryaBhandari

[2020-05-26 08:09] anubhavsingh16 commented on #103
yes, @Amankumar29 these small effects makes wonder.

[2020-05-26 08:10] anubhavsingh16 commented on #98
yes, this one is nice to send PR.

[2020-05-26 08:11] anubhavsingh16 commented on #96
@aashimgarg @Amankumar29

[2020-05-26 08:23] ShauryaBhandari commented on #104
origin	https://github.com/Catalyst-CSE/OpenSourceEvents-Frontend.git (fetch)
origin	https://github.com/Catalyst-CSE/OpenSourceEvents-Frontend.git (push)
upstream	https://github.com/Catalyst-CSE/OpenSourceEvents-Frontend.git (fetch)
upstream	https://github.com/Catalyst-CSE/OpenSourceEvents-Frontend.git (push)
After doing git remote -v inside the repo, this is coming rather than showing my own usern

[2020-05-26 08:24] Amankumar29 commented on #96
i think having a validation of only numbers will be good in the phone no section will be good.

[2020-05-26 08:33] aashimgarg commented on #96
try
 Name:- only alphabets.
 Email:- characters@character.domain
 Phone No:- only numbers with lengh less thn 15
 Message:- length greater than 10

[2020-05-26 09:40] ShauryaBhandari commented on #104
Hi @anubhavsingh16 , please unassign the issue that was assigned to me above, the codebase is really very messy to work with. I tried to clear out the issue but it is really very messy. There is no proper indentation and the divs have been wrongly placed.
A 15-minute task took an hour to just clean up the code, but I decided to not waste my time any further.

[2020-05-26 15:38] #98 closed

[2020-05-27 03:10] Amankumar29 commented on #103
@Sapna2001 i think you should work on this issue as it will help you to improve your skills.

[2020-05-28 04:58] #103 closed

[2020-05-28 18:08] #92 closed

[2020-05-28 18:10] anubhavsingh16 commented on #96
Hey, @Amankumar29 @aashimgarg solve this issue.

[2020-05-28 18:42] Sapna2001 opened #108 "Contact page background and footer"
## Description
background to be change to white and footer to be changed.

## Acceptance Criteria
### Update [Required]
- [ ] [White background]
- [ ] [Footer]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-05-28 18:42] Sapna2001 opened #109 "Contact Page footer"
## Description
Contact page footer to be made similar to the home page footer

## Acceptance Criteria
### Update [Required]
- [ ] [Footer Changed]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-05-28 18:48] aashimgarg commented on #96
@anubhavsingh16 no-one is working?

[2020-05-28 18:48] #109 closed

[2020-05-28 19:05] anubhavsingh16 commented on #96
I don't know bro @aashimgarg

[2020-05-28 19:05] anubhavsingh16 commented on #96
I think @Sapna2001 is working on this issue.

[2020-05-28 19:08] Sapna2001 commented on #96
I haven't started working on this issue. If someone is free please do this issue as I have to read some articles to do this. Never done this before.

[2020-05-28 22:56] aashimgarg commented on #96
I will complete it!

[2020-05-29 03:32] #108 closed

[2020-05-29 03:46] #104 closed

[2020-05-29 13:54] #90 closed

[2020-05-30 06:36] swarajpure commented on #96
In case you haven't started yet, can I do this?

[2020-05-30 10:19] aashimgarg commented on #96
Go ahead @swarajpure

[2020-05-30 18:18] codetheorem opened #115 "Add google analytics."
## Description
Add google analytics for better reviews.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-05-30 18:41] swarajpure opened #116 "MLH Fellowship missing in the events"
## Description
MLH Fellowship which is powered by Github is missing in the May month of the events.

## Acceptance Criteria
### Update [Required]
- [ ] [Adding MLH Fellowship to the May month]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

I'd like to work on this issue, kindly assign this issue to me.

[2020-05-30 21:46] anubhavsingh16 commented on #19
@vinayaksh42 @codetheorem @Sapna2001 have a look at this issue.

[2020-05-31 11:59] #96 closed

[2020-06-02 08:04] #116 closed

[2020-06-11 11:48] m-code12 commented on #19
@aashimgar I would like to work on this issue .Could you assign me ?

[2020-06-11 11:59] aashimgarg commented on #19
You can use Flexbox or grid.. Its totally up to you.

[2020-06-11 12:12] m-code12 commented on #19
I will use grid. I should make the changes in index.html , right ?? @aashimgarg

[2020-06-11 12:27] aashimgarg commented on #19
yes @m-code12 . Go Ahead!!

[2020-06-11 15:43] aastha985 opened #123 "Third month overlapping with footer in mobile view"
The third month is overlapping with the footer in mobile view. Can I fix this issue?
![issue](https://user-images.githubusercontent.com/55681187/84407372-61574500-ac28-11ea-8080-0343eb2d4f71.jpg)

[2020-06-11 16:49] anubhavsingh16 commented on #123
@aastha985 can you work on this issue?

[2020-06-11 16:50] #53 closed

[2020-06-11 17:07] Lordtien opened #124 "Need "develop" branch on upstream"
## Description
Since multiple steps in `README.md` require the existence of `develop` branch on `upstream`, I wonder why isn't it there. If this isn't on purpose, please create it.

[2020-06-11 17:12] aastha985 commented on #123
Sure, I'll work on it

[2020-06-11 17:57] Lordtien opened #126 "Indentation and javascript issues in index.html"
## Description
Check console for JS errors.

[2020-06-11 18:01] Lordtien commented on #126
Similar JS issues in `about.html` and `contact.html`

[2020-06-11 18:04] Lordtien opened #127 "Alignment issues in "contri.html""
## Description
The team member description is not properly aligned with the images.

[2020-06-11 18:06] Lordtien opened #128 "Images not getting fetched in local"
## Description
Seems like it's because the folder `Assets` is not properly named. Is it intentional?

[2020-06-11 18:26] m-code12 commented on #19
Earlier,in the Open Source and Hackathon section, the images and para were included in the same column , hence it wasn't looking that good in mobile view .
Now I have put them in different columns . Please have a look @aashimgarg

![image](https://user-images.githubusercontent.com/53649201/84425385-18f75180-ac3f-11ea-9443-1447428a8f00.png)

[2020-06-12 05:58] Lordtien commented on #127
@aashimgarg I'm not contributing. I'll suggest leaving it unassigned so that there are issues to choose from for new contributors.

[2020-06-12 08:01] aastha985 opened #129 "Footer contents need spacing in mobile view"
![Screenshot_20200612-123832__01](https://user-images.githubusercontent.com/55681187/84479536-c0f93300-acb0-11ea-8767-aa7fc7c06067.jpg)

[2020-06-12 08:40] #123 closed

[2020-06-12 10:57] m-code12 commented on #19
Is it fine @aashimgarg  ?? Should I proceed with it ?

[2020-06-12 20:06] m-code12 commented on #19
@aashimgarg Please review my pr #132

[2020-06-12 20:53] anubhavsingh16 commented on #128
Which one?

[2020-06-12 20:54] anubhavsingh16 commented on #127
Ok Thanks @Lordtien

[2020-06-13 12:53] #129 closed

[2020-06-14 17:13] #19 closed

[2020-06-20 17:57] #128 closed

[2020-06-20 17:57] #127 closed

[2020-06-23 12:39] gauravchauhan2403 commented on #115
assign this to me I will work on it

[2020-07-06 14:18] anubhavsingh16 commented on #115
@gauravchauhan2403 feel free to open new issues.

[2020-07-06 14:34] anubhavsingh16 opened #134 "Add hover into events"
## Description
Show the description of open source events by using hover property. So user gets more information and help through this platform.
And take the information about events from https://github.com/Catalyst-IN/Open-Source-Events.

## Mocks
https://github.com/Catalyst-IN/OpenSourceEvents-Frontend/pull/133

![issye](https://user-images.githubusercontent.com/47811606/86604870-90609c80-bfc3-1

[2020-07-09 07:39] gauravchauhan2403 commented on #115
sir, can i get the link of this repo, where you have hosted this.

[2020-07-09 09:18] anubhavsingh16 commented on #115
Link of website ?

[2020-07-09 11:09] gauravchauhan2403 commented on #115
Yes

[2020-07-09 14:42] anubhavsingh16 commented on #115
https://opensourcefrontend.netlify.app/

[2020-07-09 22:05] m-code12 commented on #134
@anubhavsingh16 I can implement this . Assign it to me.

[2020-07-10 15:45] #115 closed

[2020-07-28 08:55] anubhavsingh16 commented on #134
Send PR @m-code12

[2020-07-28 12:25] m-code12 commented on #134
I can see that it is implemented for the Jan and Feb month. I have to do it for the rest, right @anubhavsingh16 ???

[2020-07-28 12:42] anubhavsingh16 commented on #134
Yes @m-code12

[2020-07-28 13:18] m-code12 commented on #134
In which file, can I find the description of the events?

[2020-07-28 13:24] m-code12 commented on #134
In which file can I find the description of the events?

[2020-07-28 16:02] anubhavsingh16 commented on #134
https://github.com/Catalyst-IN/Open-Source-Events do not copy-paste all read and add only few important points of events.

[2020-07-28 19:04] m-code12 commented on #134
I have made a pr #138

[2020-07-29 18:45] Neilblaze opened #139 "Remove GCI from timeline"
## Description
GCI has been discontinued since this year. Refer [this](https://codein.withgoogle.com/archive/). So, it'll be better if it's removed from the timeline in the November section.

### Update [Required]
- [x] Remove GCI from homepage

## Q. Do I want to do the task? - Yes

[2020-08-01 16:08] #134 closed

[2020-08-01 16:11] #139 closed

[2020-08-11 09:29] dhruvinfo28 commented on #126
I'm claiming for this issue. Waiting for your approval.

[2020-08-13 18:18] anubhavsingh16 opened #142 "Font Variation in Navbar"
## Description
When we open the website font style of the navbar is changing after a second to another font style, We want to fix one font style for the complete page.

[2020-08-13 18:18] #126 closed

[2020-08-14 16:51] adithyaakrishna commented on #142
I accessed the website but seems to be fine, It would be great if you can provide a screenshot :)

[2020-08-14 17:27] agrim19 opened #143 "Bug on hovering on Open Source events or Hackathons on home page"
The hovering to open the description works fine if the complete 'January' section of the page is visible, but if we scroll down and that is not visible, this happens:

![shortened](https://user-images.githubusercontent.com/55059285/90275576-253a9d80-de80-11ea-88dd-7b1f06629ea1.gif)

Now I've tried this just 4-5 times and it worked once. So probably my observation about the scroll is wrong. But the

[2020-08-17 20:24] anubhavsingh16 commented on #142
it appears when internet is slow

[2020-08-17 20:28] anubhavsingh16 commented on #143
@agrim19 Can you work on this issue?

[2020-08-17 20:38] anubhavsingh16 opened #144 "Add auto changing quote"
## Description
Add famous quotes of Steve Jobs on the space between month and footer. And the quote is changing after 10 sec.

[2020-08-18 05:05] agrim19 commented on #143
Hi. I've currently taken a break from open source for some time. If this can wait then Ill be happy to do this later, else could you assign to someone else? :)

[2020-08-18 14:25] adithyaakrishna commented on #142
I guess it must be because the google fonts wouldn't be able to load. So technically this won't be a error imho

[2020-08-18 18:08] anubhavsingh16 commented on #142
Yes I think you are right

[2020-08-25 16:37] AdityaJ7 opened #145 "Clicking on the month section in the navbar produces no effect"
Bug:
The  'months' id has not been assigned to any element, which makes the 'MONTH' button of the navbar irresponsive.

Possible fix:

Add 'months' id to the h2 element that contains Open Source Events and Hackathons, or maybe create another element for that purpose.

[2020-09-29 01:17] Harshi7016 commented on #145
Can I look into the issue and work on it?

[2020-09-29 10:52] AdityaJ7 commented on #145
I guess this repo is dead

[2020-09-29 20:52] anubhavsingh16 commented on #145
@Harshi7016 send PR and assign anyone from the org. for review.

[2020-09-29 20:57] anubhavsingh16 opened #146 "Adding more events to the list"
Add more Open-Source events to the list according to month.

[2020-09-29 20:57] #142 closed

[2020-09-29 21:00] anubhavsingh16 opened #147 "Make content responsive for (Mobile view)"

[2020-09-29 21:38] shudhanshu03 commented on #146
@anubhavsingh16  Can i work on this feature ?

[2020-09-29 22:08] shudhanshu03 commented on #145
can i work on this issue ? @anubhavsingh16 .
just i'll make some changes in href , then it will show the months section.

[2020-09-29 22:20] shudhanshu03 commented on #145
Issue solved @anubhavsingh16 . Can i send the PR on 1st oct ie:- tomorrow , so that it will be counted in hacktoberfest 😅.

[2020-09-29 22:37] amycruz97 commented on #147
Pls can I take it for hacktoberfest

[2020-09-29 22:58] glowreeya-01 commented on #147
@anubhavsingh16 Can I work on this please?

[2020-09-30 02:58] coderburhan commented on #147
Can i work on this project?

[2020-09-30 10:04] Shubhainder commented on #147
I can work on this project.

[2020-09-30 14:10] chanchalpatil commented on #144
I'd like to add this feature , stated working on it.

[2020-09-30 19:10] anubhavsingh16 commented on #144
Okk 👍

[2020-09-30 19:11] anubhavsingh16 commented on #145
yes of course 🖖

[2020-09-30 19:13] anubhavsingh16 commented on #147
Anyone can work/contribute on this just by sending appropriate PR.

[2020-09-30 19:15] anubhavsingh16 commented on #147
I can't assign this issue to one person, so anyone who solved this issue please send the PR ASAP.

[2020-09-30 20:20] amycruz97 commented on #147
i checked it and it is responsive on mobile view
what exactly or where exactly do you want to achieve the result

[2020-10-01 05:57] anubhavsingh16 commented on #147
![ssc](https://user-images.githubusercontent.com/47811606/94773267-0d3fbe80-03d9-11eb-8e45-581a8b399a6f.png)
please look at footer

[2020-10-02 16:06] #145 closed

[2020-10-03 15:27] VaibhavDS19 commented on #143
Can I try to fix this?

[2020-10-05 04:32] jeannienguyen commented on #147
@anubhavsingh16 For Hacktoberfest, can you add the "hacktoberfest" topic to this repository so that our PRs count? Thank you!

[2020-10-07 06:28] anubhavsingh16 commented on #147
When you send PR, Hacktoberfest portal automatically detects your PR.

[2020-10-12 17:37] chanchalpatil commented on #144
I managed to add the feature. But found some glitches. Looks like there are
some screen size issues to be fixed in code
On Oct 1, 2020 12:40 AM, "Anubhav Singh" <notifications@github.com> wrote:

[2020-10-12 17:39] chanchalpatil commented on #144
Hey @anubhavsingh16  ,
I managed to add text transition. But looks like there are some screen issues with screen size specifications.

[2020-10-14 07:12] anubhavsingh16 commented on #144
Ok so add issue in issue list and send PR for same.

On Mon, 12 Oct, 2020, 11:10 PM chanchalvp, <notifications@github.com> wrote:

[2020-10-14 19:03] #144 closed

[2021-02-12 15:52] abhinav5481 commented on #143
Is it still open? Can I work on it as a participant in CrossWoc challenge?

[2021-02-13 05:43] anubhavsingh16 commented on #143
Of cource you can.

[2021-02-13 05:55] anubhavsingh16 opened #152 "Add transition animation for views"
## Description
Add new animation for transition so UI look better.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2021-02-13 06:07] abhinav5481 commented on #143
Okay then, please assign this to me.

[2021-02-13 12:23] abhinav5481 commented on #143
Hi,
I couldn't find the branch 'develop' mentioned in the 'readme.md' for setting up the project.
![image](https://user-images.githubusercontent.com/60434542/107849898-3d39ac80-6e24-11eb-8f3b-1ec1114df737.png)

Could you please check if the 'readme.md' is up-to-date?
I'm creating a branch from master as of now to fix the assigned bug.  Will that be fine?

[2021-02-13 12:24] Archna29 commented on #147
Can i work on this issue

[2021-02-13 12:39] Nirbhay1910 commented on #146
Hi, pls assign this issue to me.

[2021-02-13 12:40] Akash20x commented on #152
Can you please assign me this issue as a part of Cross Woc. I would be very happy to do it

[2021-02-13 13:10] gupta224 commented on #146
Hey, i assign this to me, i am a part of CroosWoc.

[2021-02-13 13:38] NEELAM244 commented on #146
Hey, plz assign this to me

[2021-02-13 13:43] NEELAM244 commented on #152
Hey, plz assign to me , I would feel very grateful  to work with you

[2021-02-13 13:50] NEELAM244 commented on #147
plz give me this opportunitiesto to work  on this project

[2021-02-13 19:02] pranabprohit commented on #146
Hi, I would like to work on this issue, can you please assign this issue to me.

[2021-02-14 08:54] Ayush7614 opened #154 "Add Cross WOC Banner or Poster"
## Is your feature request related to a problem? Please describe.
Add Cross WOC Banner or Poster

## Describe the solution you'd like
Add Cross WOC to  Banner or Poster

[2021-02-14 17:31] aum-singhal commented on #152
Hello Sir,
Can I work on this project?
I will be contributing under Cross WoC.
Thanks a lot in advance 😊

[2021-02-14 18:05] Amool-kk commented on #147
I can do this project
It will complete in 3-4 days

[2021-02-14 18:08] Amool-kk commented on #152
Can I do this issue.
It will complete in 5-6 days

[2021-02-15 06:02] anubhavsingh16 commented on #152
Send PRs, Im not going to assign this issue to 1 person. Add some beautiful effects so it looks more effective and convey message at the same time.

[2021-02-15 06:04] anubhavsingh16 commented on #147
Don't ask `Can i work on this issue` if you think you are able to solve this issue thn just wright `Im working on this issue` and send PR for same.

[2021-02-15 06:08] anubhavsingh16 commented on #143
Change `develop` to `master` in Readme as well. And send seprate PR for that.

[2021-02-15 06:09] #143 closed

[2021-02-15 06:16] anubhavsingh16 opened #155 "Add Steve Jobs quotes"
## Description
We have some vaccant space at bottom of home page, We can fill by adding famous `Steve jobs` quotes.

## Mocks
![issue1](https://user-images.githubusercontent.com/47811606/107911726-1b0a7080-6f83-11eb-8e7c-a7e340879673.png)

## Acceptance Criteria
### Update [Required]
- [x] [Must be Jobs quote]
### Enhancement to Update [Optional]
- [x] [Add -Steve Jobs as a writer name after the q

[2021-02-15 06:21] anubhavsingh16 opened #156 "Change the font of Hackathon and Open Source defination"
## Description
Change must look better and relative to other fonts(Decent and Uniform).

[2021-02-15 10:24] pranabprohit commented on #154
I would like to work on this issue.

[2021-02-15 12:03] muthuannamalai12 opened #157 "Integrate Welcome Bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

Please assign it to me as a part of Cross Woc.

[2021-02-15 12:16] NEELAM244 commented on #156
I am working on this issues

[2021-02-15 12:41] nilisha-jais commented on #155
I want to work on it

[2021-02-15 14:48] anubhavsingh16 commented on #155
Send a clean PR ASAP.

[2021-02-15 21:32] Neox63 commented on #155
I'm on it, you'll get the PR in 1h max.

[2021-02-15 21:51] Neox63 commented on #155
Done, let me know if you want me to change anything about it.

[2021-02-16 05:40] nilisha-jais commented on #155
Should I work or is it done. I planned to add a slideshow of quotes

[2021-02-16 07:20] anubhavsingh16 commented on #155
Send your PR with changes I mentioned in @Neox63 PR.

[2021-02-16 12:17] 96RadhikaJadhav opened #159 "Add contributing.md and CODE_OF_CONDUCT.md files"
I can add contributing.md and code of conduct files to the project.
As a part of crosswoc, can you please assign this issue to me.

[2021-02-17 12:57] kanishkaa24 commented on #156
Hey! Can I work on this issue?

[2021-02-18 05:36] anubhavsingh16 commented on #156
yes you can

[2021-02-18 17:25] Sloth-Panda commented on #147
I am working on this issue will be sending pr soon @anubhavsingh16 can you also add crossWoc tag to the issue?

[2021-02-19 08:07] #146 closed

[2021-02-19 08:15] #156 closed

[2021-02-19 08:19] #147 closed

[2021-02-19 08:21] #155 closed

[2021-02-19 08:23] anubhavsingh16 commented on #159
Both are present in main Catalyst-IN repo.

[2021-02-19 08:23] #159 closed

[2021-02-19 08:23] #154 closed

[2021-02-19 08:24] #124 closed

[2021-02-19 08:34] muthuannamalai12 opened #165 "Create Code of Conduct"
I would like to add a code of conduct file as code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-02-19 08:34] muthuannamalai12 commented on #165
I would love to work on this issue as a part of Cross-woc. Kindly assign it to me.

[2021-02-19 08:34] muthuannamalai12 commented on #157
@anubhavsingh16  For the custom message shown by the welcome bot we need a code of conduct. So for that reason I have opened a issue for code of conduct file. Kindly assign me that #165 issue.

[2021-02-19 08:48] pranabprohit opened #166 "Readme file needs to be updated"
![107849898-3d39ac80-6e24-11eb-8f3b-1ec1114df737](https://user-images.githubusercontent.com/53513600/108480162-9c803c80-72bc-11eb-8e2e-eb6152306155.png)
There is not any develop branch in the project but the 'readme.md' says that pull from develop branch. So develop needs to be changed to master.

[2021-02-19 08:48] pranabprohit commented on #166
Hi, I would like to work on this issue.

[2021-02-19 12:52] Neox63 commented on #155
Hey, thank you for merging. But you merged the 2 PR's and there's huge incoherences in the code rn. There is my script in the js folder (quote.js) that references a deleted tag in index.html (because of the merge of the 2nd PR) AND the script tag of @nilisha-jais that references the 'spam' id at line 845.

It's very unlogical and it make the code heavier for nothing. i read the PR of @nilisha-jais

[2021-02-19 12:55] Neox63 commented on #155
( @anubhavsingh16 )

[2021-02-19 22:26] Sloth-Panda commented on #152
Working on it will be sending pr soon🙂

[2021-02-19 22:26] Sloth-Panda commented on #157
@anubhavsingh16 , it's a good first issue sir.

[2021-02-19 22:30] Sloth-Panda commented on #28
Let me know if I can do this

[2021-02-20 06:36] anubhavsingh16 commented on #157
Im not going to assign multiple issue to single contributor, so if you find that is countable than send PR for same

[2021-02-20 06:58] muthuannamalai12 commented on #157
@anubhavsingh16 I have created a pull request

[2021-02-20 07:33] Sloth-Panda commented on #152
@anubhavsingh16 I  have messaged you on discord can you please reply back sir

[2021-02-20 08:23] Sloth-Panda commented on #157
@anubhavsingh16  Let me explain sir. This welcome bot is actually a github app which you can download and configure in your repos that you want it to use in and for it to give message when anyone opens an issue or makes a pr, you need to have some custom message and that message comes from a configuration file(config.yml). So, its just a matter of you downloading the app from the link and also jus

[2021-02-24 06:05] #165 closed

[2021-02-24 17:02] #157 closed

[2021-03-04 05:40] pranabprohit commented on #166
@anubhavsingh16 can you also add the CWOC lable otherwise it won't be counted.

[2021-03-06 05:25] #166 closed

[2021-06-06 08:21] Shivam311201 opened #170 "Changing the style of section "Open Source""
## Description
I need to change the style of open source part,
so that I can make full use of the space on the page

## Mocks
<img width="789" alt="jf" src="https://user-images.githubusercontent.com/70859035/120917576-97a99200-c6cd-11eb-8e04-ddade9d621cf.png">

## Acceptance Criteria
### Update [Required]
- [ ] Make Full use of the space of the page
- [ ] Font-size and style matches with remaining

[2021-06-06 08:23] Shivam311201 commented on #152
Sir, in which section we have to add the animations ?????

[2021-06-06 08:32] anubhavsingh16 commented on #152
events section

[2021-08-31 20:16] Lord-V15 opened #171 "Performance improvements in timeline"
I feel that the UX is being hampered by using the 'on-hover' functionality in the timeline to show descriptions of events.

https://user-images.githubusercontent.com/46837998/131569815-53b1f06a-ba89-447a-a541-597a53076871.mp4

Can you instead try to switch to a 'on-click' functionality to improve the overall performance and UX ?

[2021-10-04 18:38] glowreeya-01 commented on #170
Kindly assign this to me. I would love to work on this

[2022-04-15 06:36] YC-Kwan commented on #28
I would like to work on it. Let me know if I can do this..

[2022-04-16 12:58] YC-Kwan commented on #170
Can you assign this issue to me? Thanks

[2022-09-22 08:26] Ketan-08 commented on #170
Please do assign me this issue its important for me to contribute in open source

[2022-09-24 05:19] Priyanshu-su30 commented on #28
I would really love to work on this as my **first** github open source contribution

[2022-09-29 07:50] AnshSinghSonkhia opened #179 "Add a Specialized Section to Thanks & Appreciate the Work of All Contributors."
## Description
Add a Specialized Section to Thanks & Appreciate the Work of All Contributors.

[2022-10-08 16:48] Ijaiswalshivam opened #180 "Define the Orientation of the Textwrap"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [x] [LIST ITEMS]
### Enhancement to Update [Optional]
- [x] [LIST ITEMS]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2022-10-25 12:49] Swarga-codes opened #181 "I want to improve the open source section of the website and make it look better with better positioning and images."
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.